@page
@model TFW.Framework.CQRSExamples.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create Product";
}

<div class="text-center">
    <h1 class="display-4">Create Product</h1>
</div>

<div class="container">
    <form role="form" method="post">
        <div class="form-group">
            <label for="product-name">Name</label>
            <input type="text" class="form-control" id="product-name" asp-for="@Model.Command.Name" />
        </div>
        <div class="form-group">
            <label for="product-description">Description</label>
            <textarea class="form-control" id="product-description" asp-for="@Model.Command.Description"></textarea>
        </div>
        <div class="form-group w-50">
            <label for="product-unit-price">Unit Price</label>
            <input type="number" class="form-control" id="product-unit-price" asp-for="@Model.Command.UnitPrice" />
        </div>
        <div class="form-group w-50">
            <label for="product-category">Category</label>
            @Html.DropDownListFor(o => o.Command.CategoryId,
                Model.ProductCategories,
                "Choose a category", new
                {
                    id = "product-category",
                    @class = "form-control"
                })
        </div>
        <div class="form-group w-50">
            <label for="product-store">Store</label>
            @Html.DropDownListFor(o => o.Command.StoreId,
                Model.Stores,
                "Choose a store", new
                {
                    id = "product-store",
                    @class = "form-control"
                })
        </div>
        <div class="form-group w-50">
            <label for="product-brand">Brand</label>
            @Html.DropDownListFor(o => o.Command.BrandId,
                Model.Brands,
                "Choose a brand", new
                {
                    id = "product-brand",
                    @class = "form-control"
                })
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
